{% extends "layout.html" %} {% block left %}
<div class="rectangle">
  <div class="text-block-content-1">
    <!-- Problem content here -->
    <pre><code>
      {{text_data | safe }}
    </code></pre>
  </div>

  <div id="explanationBlock" class="text-block-content-2">
    <!-- Explanation will be updated here -->
    <hr class="text-block-divider" />
  </div>
</div>
{% endblock %} {% block right %}
<div class="text-block-content-3">
  <iframe
    src="{{ url_for('my_flowchart') }}"
    style="width: 100%; height: 100%; border: none"
  ></iframe>
</div>
{% endblock %} {% block scripts %}
<script>
  window.addEventListener(
    'message',
    function (event) {
      // Check event.origin here if you want to restrict messages to a certain origin for security
      if (event.data.label) {
        var label = event.data.label;
        fetch('/explanations')
          .then(function (response) {
            return response.json();
          })
          .then(function (data) {
            var explanation = data[label];
            if (explanation) {
              document.getElementById('explanationBlock').innerText =
                explanation;
            } else {
              console.log('No explanation found for this topic.');
            }
          })
          .catch(function (error) {
            console.error('Error:', error);
          });
      }
    },
    false
  );

  document.getElementById('processBtn').addEventListener('click', function () {
    // Get the selected text
    var selectedText = window.getSelection().toString();
    if (selectedText) {
      var explanationBlock = document.getElementById('explanationBlock');
      explanationBlock.innerText = 'Loading...'; // Show loading message

      fetch('/get_explanation', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          // Add CSRF token header if CSRF protection is enabled
        },
        body: JSON.stringify({ selectedText: selectedText }),
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (data) {
          explanationBlock.innerText = data.explanation;
        })
        .catch(function (error) {
          explanationBlock.innerText = 'An error occurred.';
          console.error('Error:', error);
        });
    } else {
      alert('Please select some text to process.');
    }
  });
</script>
{% endblock %}
