{% extends "layout.html" %} {% block problem %}
<div class="text-block-content-1">
  MATH - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Neque aliquam vestibulum
  morbi blandit cursus.
</div>
{% endblock %} {% block explanation %}
<div class="text-block-content-2">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua. Neque aliquam vestibulum morbi
  blandit cursus.
</div>
{% endblock %} {% block graph %}
<div class="text-block-content-3">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua. Neque aliquam vestibulum morbi
  blandit cursus.
</div>
{% endblock %}
