<div class="left-section">
  <div class="text-block-1">
    <!-- <h3 class="text-block-heading">Heading</h3>
    <hr class="text-block-divider" /> -->
    <div class="text-block-content-1">
      <!-- Your long text goes here -->
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Neque aliquam
      vestibulum morbi blandit cursus. Elementum sagittis vitae et leo duis ut
      diam quam. Malesuada fames ac turpis egestas maecenas pharetra convallis
      posuere morbi. Consequat semper viverra nam libero justo laoreet sit amet
      cursus. Nulla facilisi nullam vehicula ipsum a arcu. Orci porta non
      pulvinar neque laoreet suspendisse interdum consectetur libero. Mi quis
      hendrerit dolor magna eget est lorem ipsum dolor. At volutpat diam ut
      venenatis tellus in. Venenatis lectus magna fringilla urna porttitor
      rhoncus. Nunc eget lorem dolor sed viverra ipsum nunc aliquet bibendum. In
      hac habitasse platea dictumst quisque sagittis. Est pellentesque elit
      ullamcorper dignissim cras tincidunt. Elementum tempus egestas sed sed
      risus pretium quam. Nec ultrices dui sapien eget mi. Nunc mattis enim ut
      tellus elementum. Blandit aliquam etiam erat velit scelerisque in dictum.
      Urna neque viverra justo nec ultrices dui sapien eget. Velit laoreet id
      donec ultrices. Fermentum odio eu feugiat pretium. Fames ac turpis egestas
      integer eget aliquet. Eleifend quam adipiscing vitae proin sagittis nisl.
      Leo vel fringilla est ullamcorper eget. Senectus et netus et malesuada
      fames ac turpis egestas maecenas. Sed tempus urna et pharetra pharetra.
      Eros donec ac odio tempor orci dapibus ultrices in. Elementum sagittis
      vitae et leo duis ut diam. Ultrices gravida dictum fusce ut. Ut consequat
      semper viverra nam libero justo. Tellus at urna condimentum mattis.
      Vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae
      elementum. Velit laoreet id donec ultrices. Nulla pellentesque dignissim
      enim sit. Non enim praesent elementum facilisis leo vel fringilla.
      Vestibulum sed arcu non odio euismod. Vel orci porta non pulvinar.
      Facilisis volutpat est velit egestas dui id ornare. Feugiat pretium nibh
      ipsum consequat nisl vel pretium. Tincidunt ornare massa eget egestas
      purus. Faucibus vitae aliquet nec ullamcorper sit amet risus nullam eget.
      Dolor sit amet consectetur adipiscing elit. Velit ut tortor pretium
      viverra suspendisse potenti. Vitae congue eu consequat ac. Euismod quis
      viverra nibh cras pulvinar mattis nunc. Ante in nibh mauris cursus mattis
      molestie a iaculis. Egestas congue quisque egestas diam. Nibh ipsum
      consequat nisl vel pretium lectus quam. Eget nullam non nisi est. Sed
      lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi
      tincidunt. Ac turpis egestas integer eget aliquet nibh praesent tristique.
      Id diam maecenas ultricies mi eget mauris pharetra et. Adipiscing enim eu
      turpis egestas pretium aenean. Turpis massa tincidunt dui ut ornare lectus
      sit amet est. Egestas sed sed risus pretium quam vulputate. Leo integer
      malesuada nunc vel risus commodo. Nibh mauris cursus mattis molestie. Diam
      maecenas sed enim ut sem viverra. Sit amet mattis vulputate enim. Maecenas
      accumsan lacus vel facilisis volutpat est velit. Diam sit amet nisl
      suscipit adipiscing bibendum est. Molestie at elementum eu facilisis sed.
      Sem fringilla ut morbi tincidunt augue interdum velit euismod. Nulla
      pellentesque dignissim enim sit amet venenatis. Non enim praesent
      elementum facilisis leo vel. Mus mauris vitae ultricies leo integer.
      Blandit cursus risus at ultrices mi. Fermentum odio eu feugiat pretium
      nibh ipsum consequat. In pellentesque massa placerat duis ultricies lacus
      sed turpis. Ut pharetra sit amet aliquam id diam maecenas ultricies. Sit
      amet nulla facilisi morbi. In est ante in nibh mauris cursus mattis
      molestie a. Blandit libero volutpat sed cras ornare arcu dui vivamus arcu.
      Lobortis feugiat vivamus at augue eget arcu dictum varius duis. Laoreet
      suspendisse interdum consectetur libero. Orci ac auctor augue mauris.
      Sagittis eu volutpat odio facilisis mauris sit amet massa vitae. Nibh
      venenatis cras sed felis. Placerat vestibulum lectus mauris ultrices eros
      in. Erat pellentesque adipiscing commodo elit. Sed libero enim sed
      faucibus turpis in eu mi. Nulla porttitor massa id neque aliquam
      vestibulum.
      <!-- ... more text ... -->
    </div>
  </div>

  <div class="text-block-2">
    <h4 class="text-block-heading">Explanation</h4>
    <hr class="text-block-divider" />
    <div class="text-block-content-2">
      <!-- Your long text goes here -->
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Neque aliquam
      vestibulum morbi blandit cursus. Elementum sagittis vitae et leo duis ut
      diam quam. Malesuada fames ac turpis egestas maecenas pharetra convallis
      posuere morbi. Consequat semper viverra nam libero justo laoreet sit amet
      cursus. Nulla facilisi nullam vehicula ipsum a arcu. Orci porta non
      pulvinar neque laoreet suspendisse interdum consectetur libero. Mi quis
      hendrerit dolor magna eget est lorem ipsum dolor. At volutpat diam ut
      venenatis tellus in. Venenatis lectus magna fringilla urna porttitor
      rhoncus. Nunc eget lorem dolor sed viverra ipsum nunc aliquet bibendum. In
      hac habitasse platea dictumst quisque sagittis. Est pellentesque elit
      ullamcorper dignissim cras tincidunt. Elementum tempus egestas sed sed
      risus pretium quam. Nec ultrices dui sapien eget mi. Nunc mattis enim ut
      tellus elementum. Blandit aliquam etiam erat velit scelerisque in dictum.
      Urna neque viverra justo nec ultrices dui sapien eget. Velit laoreet id
      donec ultrices. Fermentum odio eu feugiat pretium. Fames ac turpis egestas
      integer eget aliquet. Eleifend quam adipiscing vitae proin sagittis nisl.
      Leo vel fringilla est ullamcorper eget. Senectus et netus et malesuada
      fames ac turpis egestas maecenas. Sed tempus urna et pharetra pharetra.
      Eros donec ac odio tempor orci dapibus ultrices in. Elementum sagittis
      vitae et leo duis ut diam. Ultrices gravida dictum fusce ut. Ut consequat
      semper viverra nam libero justo. Tellus at urna condimentum mattis.
      Vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae
      elementum. Velit laoreet id donec ultrices. Nulla pellentesque dignissim
      enim sit. Non enim praesent elementum facilisis leo vel fringilla.
      Vestibulum sed arcu non odio euismod. Vel orci porta non pulvinar.
      Facilisis volutpat est velit egestas dui id ornare. Feugiat pretium nibh
      ipsum consequat nisl vel pretium. Tincidunt ornare massa eget egestas
      purus. Faucibus vitae aliquet nec ullamcorper sit amet risus nullam eget.
      Dolor sit amet consectetur adipiscing elit. Velit ut tortor pretium
      viverra suspendisse potenti. Vitae congue eu consequat ac. Euismod quis
      viverra nibh cras pulvinar mattis nunc. Ante in nibh mauris cursus mattis
      molestie a iaculis. Egestas congue quisque egestas diam. Nibh ipsum
      consequat nisl vel pretium lectus quam. Eget nullam non nisi est. Sed
      lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi
      tincidunt. Ac turpis egestas integer eget aliquet nibh praesent tristique.
      Id diam maecenas ultricies mi eget mauris pharetra et. Adipiscing enim eu
      turpis egestas pretium aenean. Turpis massa tincidunt dui ut ornare lectus
      sit amet est. Egestas sed sed risus pretium quam vulputate. Leo integer
      malesuada nunc vel risus commodo. Nibh mauris cursus mattis molestie. Diam
      maecenas sed enim ut sem viverra. Sit amet mattis vulputate enim. Maecenas
      accumsan lacus vel facilisis volutpat est velit. Diam sit amet nisl
      suscipit adipiscing bibendum est. Molestie at elementum eu facilisis sed.
      Sem fringilla ut morbi tincidunt augue interdum velit euismod. Nulla
      pellentesque dignissim enim sit amet venenatis. Non enim praesent
      elementum facilisis leo vel. Mus mauris vitae ultricies leo integer.
      Blandit cursus risus at ultrices mi. Fermentum odio eu feugiat pretium
      nibh ipsum consequat. In pellentesque massa placerat duis ultricies lacus
      sed turpis. Ut pharetra sit amet aliquam id diam maecenas ultricies. Sit
      amet nulla facilisi morbi. In est ante in nibh mauris cursus mattis
      molestie a. Blandit libero volutpat sed cras ornare arcu dui vivamus arcu.
      Lobortis feugiat vivamus at augue eget arcu dictum varius duis. Laoreet
      suspendisse interdum consectetur libero. Orci ac auctor augue mauris.
      Sagittis eu volutpat odio facilisis mauris sit amet massa vitae. Nibh
      venenatis cras sed felis. Placerat vestibulum lectus mauris ultrices eros
      in. Erat pellentesque adipiscing commodo elit. Sed libero enim sed
      faucibus turpis in eu mi. Nulla porttitor massa id neque aliquam
      vestibulum.
      <!-- ... more text ... -->
    </div>
  </div>
</div>
