<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Expert Process</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <!-- Highlight.js theme -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/styles/gradient-light.css"
    />
    <link href="static/css/styles.css" rel="stylesheet" />
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dagre-d3/0.6.4/dagre-d3.min.js"></script>
  </head>
  <body>
    {% include "includes/nav.html" %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 left-section">
          <div class="text-block-1">
            <!-- <h3 class="text-block-heading">Heading</h3> -->
            <!-- <hr class="text-block-divider" /> -->
            {% block problem %}{% endblock %}
          </div>

          <div class="text-block-2">
            <h4 class="text-block-heading">Explanation</h4>
            <hr class="text-block-divider" />
            {% block explanation %}{% endblock %}
          </div>
        </div>

        <div class="col-md-6 right-section">
          <div class="rectangle">
            <h4 class="text-block-heading">Knowledge Graph</h4>
            <hr class="text-block-divider" />
            {% block graph %}{% endblock %}
          </div>
        </div>
      </div>
    </div>
    {% block scripts %}{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/highlight.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', (event) => {
        hljs.highlightAll();
      });
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
